
/* #Base 960 Grid
================================================== */

    .mycontainer                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .mycontainer .column,
    .mycontainer .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }

    /* Base Grid */
    .mycontainer .one.column,
    .mycontainer .one.columns                     { width: 40px;  }
    .mycontainer .four.columns                    { width: 220px; }
    .mycontainer .five.columns                    { width: 280px; }
    .mycontainer .six.columns                     { width: 340px; }
    .mycontainer .eight.columns                   { width: 460px; }
    .mycontainer .ten.columns                     { width: 580px; }
    .mycontainer .eleven.columns                  { width: 640px; }

    .mycontainer .one-third.column                { width: 300px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .mycontainer                                  { width: 768px; }
        .mycontainer .column,
        .mycontainer .columns                         { margin-left: 10px; margin-right: 10px;  }
        .mycontainer .four.columns                    { width: 172px; }
        .mycontainer .five.columns                    { width: 220px; }
        .mycontainer .six.columns                     { width: 268px; }
        .mycontainer .eight.columns                   { width: 364px; }
        .mycontainer .ten.columns                     { width: 460px; }
        .mycontainer .eleven.columns                  { width: 508px; }
        .mycontainer .twelve.columns                  { width: 556px; }
        .mycontainer .thirteen.columns                { width: 604px; }
        .mycontainer .fourteen.columns                { width: 652px; }
        .mycontainer .fifteen.columns                 { width: 700px; }
        .mycontainer .sixteen.columns                 { width: 748px; }

        .mycontainer .one-third.column                { width: 236px; }
        .mycontainer .two-thirds.column               { width: 492px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .mycontainer { width: 300px; }
        .mycontainer .columns,
        .mycontainer .column { margin: 0; }

        .mycontainer .four.columns,
        .mycontainer .five.columns,
        .mycontainer .six.columns,
        .mycontainer .eight.columns,
        .mycontainer .ten.columns,
        .mycontainer .eleven.columns,
        .mycontainer .one-third.column  { width: 300px; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .mycontainer { width: 420px; }
        .mycontainer .columns,
        .mycontainer .column { margin: 0; }

        .mycontainer .one.column,
        .mycontainer .one.columns,
        .mycontainer .two.columns,
        .mycontainer .three.columns,
        .mycontainer .four.columns,
        .mycontainer .five.columns,
        .mycontainer .six.columns,
        .mycontainer .seven.columns,
        .mycontainer .eight.columns,
        .mycontainer .nine.columns,
        .mycontainer .ten.columns,
        .mycontainer .eleven.columns,
        .mycontainer .one-third.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .mycontainer:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
